
.swagger-ui .topbar {
    background-color: #2c5282;
}
.swagger-ui .topbar .download-url-wrapper {
    display: none;
}
.swagger-ui .info .title {
    color: #2d3748;
}
.swagger-ui .scheme-container {
    background: #f7fafc;
    border-radius: 4px;
    padding: 10px;
}